.message.error-message {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  min-width: 302px;
  height: 64px;
  padding: 20px;
}
.message.error-message > .iziToast-body {
  margin-left: 8px;
  margin-right: 24px;
  padding: 0;
  min-height: 100%;
}
.message.error-message > .iziToast-body .iziToast-title {
  font-weight: 500;
}
.message.error-message > button.iziToast-close {
  background-size: 16px;
}
.message.error-message > .iziToast-cover {
  top: 20px;
  left: 20px;
  height: 24px;
  background-color: transparent;
}
